In [1]:
import pandas as pd

In [2]:
file_to_import = "../purchase_data.csv"
purchase_data = pd.read_csv('purchase_data.csv')
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Total Players
total_players = len(purchase_data["SN"].unique())
total_players

576

In [4]:
# Number of Unique Item
number_unique = len(purchase_data["Item ID"].unique())
number_unique

183

In [5]:
# Average Price
average_item_price = purchase_data["Price"].mean()
pd.options.display.float_format = '${:,.2f}'.format
average_item_price.round(2)

3.05

In [6]:
# Number of Purchases
number_purchases = len(purchase_data["Purchase ID"].value_counts())
number_purchases

780

In [7]:
# Total Revenue
total_revenue = purchase_data["Price"].sum()
pd.options.display.float_format = '${:,.2f}'.format
total_revenue

2379.77

In [9]:
summary_table_one = pd.DataFrame({"Total Number of Players": total_players, 
                              "Unique Items": number_unique, 
                              "Average Price per Item": average_item_price.round(2),
                            "Number of Purchases": number_purchases, 
                             "Total Revenue": total_revenue}, index=[0])
summary_table_one

,Total Number of Players,Unique Items,Average Price per Item,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"