In [1]:
import pandas as pd

In [2]:
file_to_import = "../purchase_data.csv"
purchase_data = pd.read_csv('purchase_data.csv')
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [3]:
# Total Players
total_players = len(purchase_data["SN"].unique())
total_players

576

In [4]:
# Number of Unique Item
number_unique = len(purchase_data["Item ID"].unique())
number_unique

183

In [5]:
# Average Price
average_item_price = purchase_data["Price"].mean()
pd.options.display.float_format = '${:,.2f}'.format
average_item_price.round(2)

3.05

In [6]:
# Number of Purchases
number_purchases = len(purchase_data["Purchase ID"].value_counts())
number_purchases

780

In [7]:
# Total Revenue
total_revenue = purchase_data["Price"].sum()
pd.options.display.float_format = '${:,.2f}'.format
total_revenue

2379.77

In [8]:
#Purchase Analysis Total
summary_table_one = pd.DataFrame({"Total Number of Players": total_players, 
                              "Unique Items": number_unique, 
                              "Average Price per Item": average_item_price.round(2),
                            "Number of Purchases": number_purchases, 
                             "Total Revenue": total_revenue}, index=[0])
summary_table_one

,Total Number of Players,Unique Items,Average Price per Item,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

In [9]:
#Gender demo Male
group_male = purchase_data.groupby(["Gender"]).get_group(('Male'))
count_male = len(group_male['SN'].unique())
print(count_male)

percent_male = (count_male/total_players)
print(percent_male)

484
0.8402777777777778

In [10]:
#Gender demo Female
group_female = purchase_data.groupby(["Gender"]).get_group(('Female'))
count_female = len(group_female['SN'].unique())
print(count_female)

percent_female = (count_female/total_players)
print(percent_female)

81
0.140625

In [11]:
#Gender demo Other
group_other = purchase_data.groupby(["Gender"]).get_group(('Other / Non-Disclosed'))
count_other = len(group_other['SN'].unique())
print(count_other)

percent_other = (count_other/total_players)
print(percent_other)

11
0.019097222222222224

In [12]:
gender_dataframe = {'Player Count by Gender': [count_male, count_female, count_other],
                    'Gender': ['Male', 'Female', 'Other/Non-Disclosed'],
                    'Percentage of Players by Gender':[percent_male, percent_female, percent_other]}

gender_final = pd.DataFrame(gender_dataframe)
gender_final = gender_final.set_index('Gender')
gender_final[['Percentage of Players by Gender','Player Count by Gender']]
gender_final
format_dict = {'Percentage of Players by Gender': '{:.2%}'}
gender_final.style.format(format_dict)

In [13]:
# Purchasing Analysis (Gender) - Male
group_male = purchase_data.groupby(["Gender"]).get_group(('Male'))
purchase_count_male = len(group_male['Price'])
print(purchase_count_male)

purchase_total_male = group_male['Price'].sum()
print(purchase_total_male)

avg_purchase_price_male = purchase_total_male / purchase_count_male
print(avg_purchase_price_male)

count_male = len(group_male['SN'].unique())
print(count_male)

avg_per_person_male = purchase_total_male / count_male
print(avg_per_person_male)

652
1967.64
3.0178527607361967
484
4.065371900826446

In [14]:
# Purchasing Analysis (Gender) - Female
group_female = purchase_data.groupby(["Gender"]).get_group(('Female'))
purchase_count_female = len(group_female['Price'])
print(purchase_count_female)

purchase_total_female = group_female['Price'].sum()
print(purchase_total_female)

avg_purchase_price_female = purchase_total_female / purchase_count_female
print(avg_purchase_price_female)

count_female = len(group_female['SN'].unique())
print(count_female)

avg_per_person_female = purchase_total_female / count_female
print(avg_per_person_female)

113
361.94
3.203008849557522
81
4.468395061728395

In [15]:
# Purchasing Analysis (Gender) - Other
group_other = purchase_data.groupby(["Gender"]).get_group(('Other / Non-Disclosed'))
purchase_count_other = len(group_other['Price'])
print(purchase_count_other)

purchase_total_other = group_other['Price'].sum()
print(purchase_total_other)

avg_purchase_price_other = purchase_total_other / purchase_count_other
print(avg_purchase_price_other)

count_other = len(group_other['SN'].unique())
print(count_other)

avg_per_person_other = purchase_total_other / count_other
print(avg_per_person_other)

15
50.19
3.3459999999999996
11
4.5627272727272725

In [16]:
#Data Frame for Purchasing Analysis (Gender)
gender_purchase_analysis_dataframe = {'Purchase Count': [purchase_count_male, purchase_count_female 
                                                         ,purchase_count_other],
                    'Gender': ['Male', 'Female', 'Other/Non-Disclosed'],
                    'Avg Purchase Price':[avg_purchase_price_male, avg_purchase_price_female, avg_purchase_price_other],
                    'Total Purchase Value':[purchase_total_male, purchase_total_female, purchase_total_other],
                    'Avg Total Purchase Per Person': [avg_per_person_male, avg_per_person_female, avg_per_person_other]}

gender_purchase_analysis_final = pd.DataFrame(gender_purchase_analysis_dataframe)
gender_purchase_analysis_final = gender_purchase_analysis_final.set_index('Gender')
gender_purchase_analysis_final[['Purchase Count','Avg Purchase Price','Total Purchase Value',
                                'Avg Total Purchase Per Person']]
gender_purchase_analysis_final

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
 # Create bins & labels
total_players = len(purchase_data["SN"].unique())

bins = [0, 10, 14, 19, 24, 29, 34, 39, 46]
age_labels = ['<10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40+']

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], 
                                    bins, labels=age_labels)
print(purchase_data["SN"].count()) 

under_ten = purchase_data.groupby(['Age Group']).get_group(('<10'))
player_count_under_ten = len(under_ten['SN'].unique())
percent_bin_one = (player_count_under_ten/total_players)*100
percent_bin_one

780

4.166666666666666